      <div class="jumbotron">
        <h1>Book Store</h1>
        <p>交換書的地方，把你放置已久的書放上來吧！</p>

      </div>

      <div class="row-fluid">
        <div id="chat_history" class="well span12"></div>
      </div>
      <div class="row-fluid">
        <div class="input-append span10">
          <input id="new_message" class="span" /><button id="send_message" class="btn">Send</button>
        </div>
      </div>

      <div style="float:left;width:310px;">
        <div style="height:30px;width:300px;padding:5px 0;">
          <button id="clearBtn" style="font-size:15px;">Clear</button>
          <button id="prevBtn" style="font-size:15px;">Prev</button>
        </div>
        <canvas id="origin" class="orgincanvas"></canvas>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>
