<div class="row">
  <div class="col-md-12">
        <%= link_to "新的比賽","/",class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>過去的比賽：</h2>
    <h4>Game1 2014/3/15</h4>
    <h4>Game2 2014/3/15</h4>
    <h4>Game3 2014/3/15</h4>
  </div>
</div>
