      <div class="jumbotron">
        <h1>一字千金</h1>
      </div>

      <div style="float:left;width:310px;">
        <div style="padding:5px 0;">
          <button id="clearBtn" style="font-size:15px;">Clear</button>
          <button id="prevBtn" style="font-size:15px;">Prev</button>
        </div>
        <canvas id="origin" class="orgincanvas"></canvas>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>
