<div class="row">
  <div class="col-md-12">
    <%= link_to "回上一頁","/",class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Game N > Stage 1</h1>
    <h2>規則設定 限時  秒</h2>
    <%= link_to "確認","/",class: "btn btn-lg btn-success"  %>
  </div>
</div>