      <div class="jumbotron">
        <h1>一字千金 讀取頁面</h1><div id="user_count">a</div>
      </div>
      <div style="float:left;">
        <%= render "main" %>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <script src="/assets/read.js"></script>
      <% end %>