<% content_for :stylesheets do %>
<style type="text/css">

body {
  background-color: #000000
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.block{
  padding-top:10px;
  opacity: 0.9;
  /*
  border: 2px solid;
  border-color:white;
  */
  margin:10px;
}

</style>
<% end %>
<div class="row">
  <div class="visitor col-md-2 block" id="visitor_1">
    <img alt="100x100&amp;text=no pic" class="medium border_radius" length="158" src="http://placehold.it/100x100&amp;text=No Pic" width="158" />
    <h4 style="padding-left:60px">aaa</h4>
    <canvas id="origin_1" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_1" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_1" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_2">
    <img alt="100x100&amp;text=no pic" class="medium border_radius" length="158" src="http://placehold.it/100x100&amp;text=No Pic" width="158" />
    <h4 style="padding-left:60px">bbb</h4>
    <canvas id="origin_2" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_2" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_2" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_3">
    <img alt="100x100&amp;text=no pic" class="medium border_radius" length="158" src="http://placehold.it/100x100&amp;text=No Pic" width="158" />
    <h4 style="padding-left:60px">ccc</h4>
    <canvas id="origin_3" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_3" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_3" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_4">
    <img alt="100x100&amp;text=no pic" class="medium border_radius" length="158" src="http://placehold.it/100x100&amp;text=No Pic" width="158" />
    <h4 style="padding-left:60px">ddd</h4>
    <canvas id="origin_4" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_4" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_4" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_5">
    <img alt="100x100&amp;text=no pic" class="medium border_radius" length="158" src="http://placehold.it/100x100&amp;text=No Pic" width="158" />
    <h4 style="padding-left:60px">eee</h4>
    <canvas id="origin_5" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_5" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_5" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_6">
    <img alt="Medium screen shot 2014 05 22 at   4.00.49" class="medium border_radius" length="158" src="/uploads/visitor/image/6/medium_Screen_Shot_2014-05-22_at___4.00.49.png" width="158" />
    <h4 style="padding-left:60px">fff</h4>
    <canvas id="origin_6" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_6" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_6" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_7">
    <img alt="Medium screen shot 2014 04 13 at   11 18 58" class="medium border_radius" length="158" src="/uploads/visitor/image/7/medium_Screen_Shot_2014-04-13_at___11_18_58.png" width="158" />
    <h4 style="padding-left:60px">ggg</h4>
    <canvas id="origin_7" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_7" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_7" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_8">
    <img alt="Medium mac osx lion wallpaper full hd 11" class="medium border_radius" length="158" src="/uploads/visitor/image/11/medium_mac-osx-lion-wallpaper-full-hd-11.jpg" width="158" />
    <h4 style="padding-left:60px">lion</h4>
    <canvas id="origin_8" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_8" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_8" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_9">
    <img alt="Medium unnamed" class="medium border_radius" length="158" src="/uploads/visitor/image/12/medium_unnamed.jpg" width="158" />
    <h4 style="padding-left:60px">小馬</h4>
    <canvas id="origin_9" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_9" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_9" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
  <div class="visitor col-md-2 block" id="visitor_10">
    <img alt="Medium unnamed" class="medium border_radius" length="158" src="/uploads/visitor/image/12/medium_unnamed.jpg" width="158" />
    <h4 style="padding-left:60px">小馬</h4>
    <canvas id="origin_10" class="orgincanvas" style="z-index:1"></canvas>
    <img id="yes_10" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
    <img id="no_10" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

  </div>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server' %>
<script>

var receiveSubmitHandler = function(o){
  $('#visitor_'+o.user_id).css("background-color", "#f0f0f0");
};
window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 15,
    lineColor: '#333333',
    targetZoomScale: 0.1,
    backgroundImage: '/assets/block-524.png'
  });
  CM.reg('origin_1');
  CM.reg('origin_2');
  CM.reg('origin_3');
  CM.reg('origin_4');
  CM.reg('origin_5');
  CM.reg('origin_6');
  CM.reg('origin_7');
  CM.reg('origin_8');
  CM.reg('origin_9');
  CM.reg('origin_10');

  window.chatApp = new ChatApp(500,500,'0');
  window.chatApp.bindEvents();


});
</script>
<% end %>