<div class="row">
  <div class="col-md-12">
    <%#= link_to "新的比賽",create_game_path,class: "btn btn-lg btn-primary"  %>
    <%= form_for @game , :url => games_path , :html => {:method => :post} do |f| %> 
    <%= f.submit "新的比賽" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>過去的比賽：</h2>
    <% if @games.present? %>
    <table class="table table-bordered">
      <thead>
        <th>名稱</th>
        <th></th>
      </thead>
      <tbody>
        <% @games.each do |g| %>
        <tr>
          <td>
            <%= link_to "Game#{g.id}-#{g.created_at}",game_path(g) %>
          </td>
          <td>
            <%= link_to "刪除", game_path(g), method: :delete, class:"btn btn-danger", data: {confirm: '確定要刪除嗎？'} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    尚無記錄
    <% end %>
  </div>
</div>
