      <div class="jumbotron">
        <h5>一字千金 操作後台</h5>
        <p>目前上線人數<span id="user_count">0</span>人</p>
      </div>
      <div style="">
        <div class="row">
          <% (1..96).to_a.each do |x| %>

            <div class="col-md-1">
              <canvas id="origin_<%= x %>" style="z-index:1"></canvas>
            </div>

          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="checkbox" id="allGamer"/>全選
            <button id="yes_button" style="font-size:15px;">答對</button>
            <button id="no_button" style="font-size:15px;">答錯</button>
            <button id="out_button" style="font-size:15px;">淘汰</button>
            <button id="start_button" style="font-size:15px;">Start</button>
            <button id="stop_button" style="font-size:15px;">Stop</button>
          </div>
        </div>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'server_idioms' %>
      <script>

      var receiveSubmitHandler = function(o){
        $('#visitor_'+o.user_id).css("background-color", "#f0f0f0");
      };
      window.timeRemaining = parseInt(<%= @second %>);
      window.alarm = null;

      $(document).ready(function() {
        CM.prop({
          width: 300,
          height: 300,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
        <% (1..96).each do |x| %>
        CM.reg('origin_<%= x %>');
        <% end %>

        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents();

        var afterAction = function(property){
          var array = [];
          $('[name="gamer"]').each(function(){
            if (this.checked) {
              $('#visitor_'+this.value).css("background-color", "");
              array.push(this.value);
              this.checked = false;
            }
          });
          $('#second').text(window.timeRemaining);
          $('#allGamer').attr('checked',false);

          return array;
        }

        $('#allGamer').click(function(){
          $('[name="gamer"]').each((function(toCheck){
            return function(){
              if (this.disabled == false){
                this.checked = toCheck;
              }
            };
          })(this.checked === true));
        });

        $('#yes_button').click(function(){
          var array = afterAction(this);
          for (var x in array){
            var yesImg = $('#yes_' + array[x]);
            yesImg.show();

            setTimeout(( function(item){
              var f = function(){
                item.hide();
              };
              return f
            })(yesImg), 3000);
          }
          //alert("answer right:"+array);
        });

        $('#no_button').click(function(){
          var array = afterAction(this);
          for (var x in array){
            var noImg = $('#no_' + array[x]);
            noImg.show();

            setTimeout((function(item){
              var f = function(){
                item.hide();
              };
              return f
            })(noImg), 3000);
          }
          //alert("answer wrong:"+array);
        });

        $('#out_button').click(function(){
          $('[name="gamer"]').each(function(){
            if (this.checked) {
              CM.unreg('origin_'+this.value);
              this.disabled = true;
            }
          });
          var array = afterAction(this);
          for (var x in array){
            $('#visitor_'+array[x]).attr('style','opacity:0.2');
          }
          //alert("outer:"+array);
        });

        $('#start_button').click(function(){
          if(window.alarm) return;
          $('[name="gamer"]').each(function(){
            if (this.checked) {
              window.chatApp.action(this.value,'start');
              $('#visitor_'+this.value).css("background-color", "");
            }
          });
          window.alarm = setInterval(function(){
            if (parseInt($('#second').text()) != 0){
              $('#second').text(parseInt($('#second').text()) - 1);
            }else{
              clearInterval(window.alarm);
              window.alarm = null;
              $('[name="gamer"]').each(function(){
                if (this.checked) {
                  window.chatApp.action(this.value,'stop');
                  receiveSubmitHandler({user_id:this.value});
                }
              });
              var array = afterAction(this);
              alert("stop:"+array);
            }
          },1000);
          //var array = afterAction(this);
          //alert("start:"+array);
        });

        // $('#stop_button').click(function(){
        //   $('[name="gamer"]').each(function(){
        //     if (this.checked) {
        //       window.chatApp.action(this.value,'stop');
        //     }
        //   });
        //   var array = afterAction(this);
        //   alert("stop:"+array);
        // });

      });
      </script>
      <% end %>