@charset "utf-8";
/* CSS Document */
/*===================共用=================*/
h1, h2, h3, h4, h5, h6, p {
	color:#000000;
	letter-spacing:1px;
	//font-family:Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif","Microsoft Sans Serif","Helvetica","Geneva","sans-serif";
}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}

.Content{ width:100%;}
.Content .box_a{ width:100%; position:relative;}
.Content .box_a .TopBpx{ width:100%;}
.Content .box_a .TopBpx .photo{ float:left; width:28%;}
.Content .box_a .TopBpx .green{ box-shadow:0px 0px 50px 7px #22ff22;}
.Content .box_a .TopBpx .nameBox{ float:left; width:67%; height:100%; overflow:hidden; 
	background:url(/assets/tvwall/Upper-Metal-Bar.png) -25px no-repeat;
	background-size: 100% 8%;
}
.Content .box_a .TopBpx .nameBox p.name{ color:#FFF; padding-left:7%;}
.Content .box_a .TopBpx .answer10{ float:left; width:25%;}

.Content .box_a .s1 .photo{ width:20%;}
  
.Content .box_a .TopBpx .br_line01{ 
	//background:url(/assets/tvwall/name_line_01.png) right 18px no-repeat;
	background:url(/assets/tvwall/Upper-Metal-Bar.png) -35px no-repeat;
	background-size: 100% 8%;
}
.Content .box_a .TopBpx .br_line02{ 
	//background:url(/assets/tvwall/name_line_02.png) right 18px no-repeat;
	background:url(/assets/tvwall/Upper-Metal-Bar.png) -35px no-repeat;
	background-size: 100% 8%;
}
.Content .box_a .TopBpx .br_line03{ width:35%;
	//background:url(/assets/tvwall/name_line_03.png) right 25px no-repeat;
	background:url(/assets/tvwall/Upper-Metal-Bar.png) -20px no-repeat;
	background-size: 100% 8%;
}
.Content .box_a .TopBpx .br_line04{ width:35%; 
	//background:url(/assets/tvwall/name_line_04.png) right 18px no-repeat;
	background:url(/assets/tvwall/Upper-Metal-Bar.png) -15px no-repeat;
	background-size: 100% 8%;
}

.Content .box_a .Grid{ width:99%; position:relative; 
	//border:0.2vw solid #c0c0c0;
}

.Content .box_a .Grid-Kino{
	width:100%;position:relative; padding: 16px;
	background: url('/assets/tvwall/Metal-Frame.png') no-repeat; background-size: 100% 100%;
}
.Content .box_a .Grid .write,
.Content .box_a .Grid-Kino .write{ width:95%; position:absolute; left:2%; top:2%; z-index:40;}

.Content .box_a .Grid .correct,
.Content .box_a .Grid-Kino .correct{ width:32%; position:absolute; right:1%; bottom:2%; z-index:50;display:none;}
.Content .box_a .bor_g{ //border:0.2vw solid #98c4a7;}
.Content .box_a .Grid .inner_glow{ width:100%; height:100%; position:absolute; top:0px; left:0px;
	display:none;
	box-shadow:0px 0px 70px 40px rgba(45, 245, 138, 0.6) inset;
}
.Content .box_a .Grid .inner_metal{ width:100%; position:absolute; top:0px; left:0px;}
.Content .box_a .Grid-Kino .inner_glow{
	width:100%; height:100%; position:absolute; top:0px; left:0px;display:none;
	box-shadow:0px 0px 60px 11px rgb(39, 245, 130) inset
}
.Content .box_a .Grid-Kino .inner_metal{
	display: none;
}

.Content .box_a table tr td{ padding-bottom:10px;}

.Content .box_a .out{ width:105%; position:absolute; bottom:0px; left:0px; z-index:60;display:none;}
.Content .box_a .black{ width:105%; height:100%; background-color:#000; opacity:0.3; position:absolute; bottom:0px; left:0px; z-index:55;display:none;}

.HP_bar{ border-radius:10px;overflow:hidden;}
.HP_bar .hp{ width:100%;}
.HP_bar .red{ background-color:#ff0c00;}
.HP_bar .yello{ background-color:#fcff00;}

table.Chessboard p{ color:#ddced0; text-align:center;}

.Content .box_b .photo{ width:68%; margin:0 auto;}
.Content .box_b .green{ box-shadow:0px 0px 60px 8px #22ff22;}
.Content .box_b p.name{ color:#FFF; text-align:center;}

.Content table.Chessboard .Grid{ width:100%; position:relative; border:0.2vw solid #000000; margin:0 auto; background-color: rgb(120,120,120);}
.Content table.Chessboard .Grid .write{ width:90%; position:absolute; left:2%; top:2%; z-index:40;}
.Content table.Chessboard .Grid .inner_glow{ width:100%; position:absolute; top:0px; left:0px;display:none;
	box-shadow:0px 0px 8px 2px rgba(45, 245, 138, 0.6) inset;
}


