@charset "utf-8";
/* CSS Document */
/*===================共用=================*/
h1, h2, h3, h4, h5, h6, p {
	color:#000000;
	letter-spacing:1px;
	//font-family:Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif","Microsoft Sans Serif","Helvetica","Geneva","sans-serif";
}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}

.Content{ width:100%;}
.Content .box_a{ width:100%; position:relative;}
.Content .box_a .TopBpx{ width:100%;}
.Content .box_a .TopBpx .photo{ float:left; width:28%;}
.Content .box_a .TopBpx .green{ box-shadow:0px 0px 2.5vw #00ff00;}
.Content .box_a .TopBpx .nameBox{ float:left; width:67%; height:100%; overflow:hidden; background:url(/assets/tvwall/name_line.png) right no-repeat;}
.Content .box_a .TopBpx .nameBox p.name{ color:#FFF; padding-left:7%;}
.Content .box_a .TopBpx .answer10{ float:left; width:25%;}

.Content .box_a .s1 .photo{ width:20%;}
  
.Content .box_a .TopBpx .br_line01{ background:url(/assets/tvwall/name_line_01.png) right 18px no-repeat;}
.Content .box_a .TopBpx .br_line02{ background:url(/assets/tvwall/name_line_02.png) right 18px no-repeat;}
.Content .box_a .TopBpx .br_line03{ width:35%; background:url(/assets/tvwall/name_line_03.png) right 25px no-repeat;}
.Content .box_a .TopBpx .br_line04{ width:35%; background:url(/assets/tvwall/name_line_04.png) right 18px no-repeat;}

.Content .box_a .Grid{ width:99%; position:relative; border:0.2vw solid #c0c0c0;}
.Content .box_a .Grid .write{ width:95%; position:absolute; left:2%; top:2%; z-index:40;}
.Content .box_a .Grid .correct{ width:32%; position:absolute; right:1%; bottom:2%; z-index:50;display:none;}
.Content .box_a .bor_g{ border:0.2vw solid #98c4a7;}
.Content .box_a .Grid .inner_glow{ width:100%; position:absolute; top:0px; left:0px;display:none;}

.Content .box_a table tr td{ padding-bottom:10px;}

.Content .box_a .out{ width:105%; position:absolute; bottom:0px; left:0px; z-index:60;display:none;}
.Content .box_a .black{ width:105%; height:100%; background-color:#000; opacity:0.7; position:absolute; bottom:0px; left:0px; z-index:55;display:none;}

.HP_bar{ border-radius:10px;overflow:hidden;}
.HP_bar .hp{ width:100%;}
.HP_bar .red{ background-color:#ff0c00;}
.HP_bar .yello{ background-color:#fcff00;}

table.Chessboard p{ color:#ddced0; text-align:center;}

.Content .box_b .photo{ width:45%; margin:0 auto;}
.Content .box_b .green{ box-shadow:0px 0px 2.5vw #00ff00;}
.Content .box_b p.name{ color:#FFF; text-align:center;}

.Content table.Chessboard .Grid{ width:100%; position:relative; border:0.2vw solid #000000; margin:0 auto; background-color: rgb(47,47,47);}
.Content table.Chessboard .Grid .write{ width:90%; position:absolute; left:2%; top:2%; z-index:40;}
.Content table.Chessboard .Grid .inner_glow{ width:100%; position:absolute; top:0px; left:0px;display:none;}


